name: "buildx"

on:
  push:
    branches: [master]
    paths:
      - "src/**"
      - "build/**"
  pull_request:
    branches: [master]
    paths:
      - "src/**"
      - "build/**"

env:
  DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  ALIYUN_REGISTRY: registry.cn-chengdu.aliyuncs.com
  ALIYUN_HK_REGISTRY: registry.cn-hongkong.aliyuncs.com
  ALIYUN_NAMESPACE: yoyosoft
  ALIYUN_USERNAME: ${{ vars.ALIYUN_USERNAME }}
  ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}

jobs:
  # ----------------------------------- build -----------------------------------
  build-hub-windows:
    runs-on: windows-latest
    name: Images to DockerHub (Windows)
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login docker hub
      - name: Login to DockerHub
        uses: azure/docker-login@v1
        with:
          username: ${{env.DOCKERHUB_USERNAME}}
          password: ${{env.DOCKERHUB_TOKEN}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-push.ps1 -Registry "docker.io" -Namespace "ltm0203"

  build-hub-linux:
    runs-on: ubuntu-22.04
    name: Images to DockerHub (Linux)
    needs: [build-hub-windows]
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login docker hub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{env.DOCKERHUB_USERNAME}}
          password: ${{env.DOCKERHUB_TOKEN}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-push.ps1 -Registry "docker.io" -Namespace "ltm0203"

  build-aliyun-windows:
    runs-on: windows-latest
    name: Images to Aliyun Chengdu (Windows)
    needs: [build-hub-linux]
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun chengdu
      - name: Login to Aliyun Chengdu
        uses: docker/login-action@v1
        with:
          registry: ${{env.ALIYUN_REGISTRY}}
          username: ${{env.ALIYUN_USERNAME}}
          password: ${{env.ALIYUN_PASSWORD}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-sync-manifest.ps1 -Registry "docker.io" -Namespace "ltm0203" -TargetRegistry "${{env.ALIYUN_REGISTRY}}/${{env.ALIYUN_NAMESPACE}}"

  build-aliyun-linux:
    runs-on: ubuntu-22.04
    name: Images to Aliyun Chengdu (Linux)
    needs: [build-aliyun-windows]
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun chengdu
      - name: Login to Aliyun Chengdu
        uses: docker/login-action@v1
        with:
          registry: ${{env.ALIYUN_REGISTRY}}
          username: ${{env.ALIYUN_USERNAME}}
          password: ${{env.ALIYUN_PASSWORD}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-sync-manifest.ps1 -Registry "docker.io" -Namespace "ltm0203" -TargetRegistry "${{env.ALIYUN_REGISTRY}}/${{env.ALIYUN_NAMESPACE}}"

  build-aliyun-hk-windows:
    runs-on: windows-latest
    name: Images to Aliyun HK (Windows)
    needs: [build-hub-linux]
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun hk
      - name: Login to Aliyun HK
        uses: docker/login-action@v1
        with:
          registry: ${{env.ALIYUN_HK_REGISTRY}}
          username: ${{env.ALIYUN_USERNAME}}
          password: ${{env.ALIYUN_PASSWORD}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-sync-manifest.ps1 -Registry "docker.io" -Namespace "ltm0203" -TargetRegistry "${{env.ALIYUN_HK_REGISTRY}}/${{env.ALIYUN_NAMESPACE}}"

  build-aliyun-hk-linux:
    runs-on: ubuntu-22.04
    name: Images to Aliyun HK (Linux)
    needs: [build-aliyun-hk-windows]
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun hk
      - name: Login to Aliyun HK
        uses: docker/login-action@v1
        with:
          registry: ${{env.ALIYUN_HK_REGISTRY}}
          username: ${{env.ALIYUN_USERNAME}}
          password: ${{env.ALIYUN_PASSWORD}}

      # build
      - name: build 1
        shell: pwsh
        working-directory: ./build
        run: ./build-sync-manifest.ps1 -Registry "docker.io" -Namespace "ltm0203" -TargetRegistry "${{env.ALIYUN_HK_REGISTRY}}/${{env.ALIYUN_NAMESPACE}}"

  # ----------------------------------- sync -----------------------------------

  sync-hub:
    runs-on: ubuntu-22.04
    name: Sync to DockerHub
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login docker hub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{env.DOCKERHUB_USERNAME}}
          password: ${{env.DOCKERHUB_TOKEN}}

      # build
      - name: build
        shell: pwsh
        working-directory: ./build
        run: ./build-sync.ps1 -TargetRegistry "docker.io" -TargetNamespace "ltm0203"

  sync-aliyun:
    runs-on: ubuntu-22.04
    name: Sync to Aliyun Chengdu
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun chengdu
      - name: Login to Aliyun Chengdu
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_REGISTRY }}
          username: ${{ vars.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      # build
      - name: build
        shell: pwsh
        working-directory: ./build
        run: ./build-sync.ps1 -TargetRegistry "${{ env.ALIYUN_REGISTRY }}/${{ env.ALIYUN_NAMESPACE }}" -TargetNamespace ""

  sync-aliyun-hk:
    runs-on: ubuntu-22.04
    name: Sync to Aliyun HK
    steps:
      # checkout source code
      - uses: actions/checkout@v2

      # login aliyun hk
      - name: Login to Aliyun HK
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ALIYUN_HK_REGISTRY }}
          username: ${{ vars.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      # build
      - name: build
        shell: pwsh
        working-directory: ./build
        run: ./build-sync.ps1 -TargetRegistry "${{ env.ALIYUN_HK_REGISTRY }}/${{ env.ALIYUN_NAMESPACE }}" -TargetNamespace ""
